:root {
  --header-bg: #eb5e28;
  --header-color: #fffcf2;
  --body-bg: #403d39;
  --font-color: #252422;
}


body {
  font-family: system-ui;
  background-color: var(--body-bg);
  color: var(--font-color);
  margin: 0;
  padding: 0;
  height: 100dvh;
}

.chat-container {
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
}

.chat-header {
  background-color: #eb5e28;
  padding: 0.3rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-header h2 {
  background-color: var(--header-color);
  padding: 0.2rem 0.5rem;
  margin: 0;
}

.chat-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 2rem 0.5rem;
  overflow-y: overlay;
  scroll-behavior: smooth;
  scroll-snap-align: end;
  scrollbar-width: auto;
  scrollbar-color: var(--header-bg) var(--body-bg);
  margin: 0 1rem;
}

.chat-message {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #ccc5b9;
  margin-right: auto;
  white-space: pre-wrap;
  max-width: 80%;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  border-radius: 1rem;
}

.chat-message>img {
  display: block;
  width: 100%;
  max-height: 5rem;
  border-radius: 2rem;
  background-image: linear-gradient(0deg, #0000, #0003);
}

.chat-message.me {
  background-color: #fffcf2;
  margin-right: 0;
  margin-left: auto;
}

/* 
span.temperature {
  background-color: #f2c94c;
  font-weight: bold;
  padding: 0rem 0.3rem;
  border-radius: 0.3rem;
}


span.special {
  background-color: #eaffb6;
  font-style: italic;
  padding: 0rem 0.3rem;
  border-radius: 0.3rem;
} */

.chat-input-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem 2rem;
  border: 0;
  margin: 1rem 1.5rem;
  border-radius: 1rem;
  background-color: var(--header-color);
}

.chat-input {
  flex: 1;
  padding: 0 0 0 0.5rem;
  border: 0;
  resize: none;
  outline: none;
  height: 100%;
  font-size: 1.3rem;
  min-height: 5rem;
}

#send-button {
  background-color: #eb5e28;
  border: 0;
  aspect-ratio: 1;
  height: 3rem;
  border-radius: 0.5rem;
}

#send-button svg {
  width: 100%;
  height: 100%;
}